<% include partials/navMovie %>
  <div class="content">
    <div class="list-group list-group-flush">  
      <div class="row">
        <div class="col-md-6">
          <img src="http://image.tmdb.org/t/p/original<%= moviesObjs[movieId].poster_path %>" alt="movieImage" width=400px>
        </div>  
        <div class="col-md-6">

            <h2>  <%= moviesObjs[movieId].title %></h2>
            <h3> Release Date: <%= moviesObjs[movieId].release_date %> </h3>
            <h4> Language: <%= moviesObjs[movieId].original_language %> </h4>
            <p> <%= moviesObjs[movieId].overview %> </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>